<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Management System</title>

    <!-- Favicons -->
    <link href="images/icons/medical.png" rel="icon">
    <link href="images/icons/medical.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/advanced-datatable/css/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-datepicker/css/datepicker.css" />


    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/index" class="logo"><img style="width: 140px;height: 40px;" src="images/logo.png" alt="alternative"></a>
            <!--logo end-->

        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="sub-menu">
                        <a href="/managementSystem">
                            <i class="fa fa-medkit"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/viewEng">
                            <i class="fa fa-user-md"></i>
                            <span>Engineers</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a class="active" href="/showEq">
                            <i class="fa fa-cogs"></i>
                            <span>Equipments</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa  fa-hospital-o"></i>
                            <span>Departments</span>
                        </a>
                        <ul style="padding-left: 0;">
                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <span>OR</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/showPre-installationOR">Pre-installation Reports</a></li>
                                    <li><a href="/showDailyInspectionOR">Daily Inspection Reports</a></li>
                                    <li><a href="/showInventoryListingOR">Inventory Listing Reports</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <span>CCU</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/showPre-installationCCU">Pre-installation Reports</a></li>
                                    <li><a href="/showDailyInspectionCCU">Daily Inspection Reports</a></li>
                                    <li><a href="/showInventoryListingCCU">Inventory Listing Reports</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <span>Out Patient</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/showPre-installationOutPatient">Pre-installation Reports</a></li>
                                    <li><a href="/showDailyInspectionOutPatient">Daily Inspection Reports</a></li>
                                    <li><a href="/showInventoryListingOutPatient">Inventory Listing Reports</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Add Reports</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/pre-installationform">Add Pre-installation Report</a></li>
                            <li><a href="/showDailyInspectionForm">Add Daily Inspection Report</a></li>
                            <li><a href="/showInventoryListingForm">Add Inventory Listing Report</a></li>

                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Add A New Equipment</h3>

                <!-- /row -->
                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="form-panel">
                            <div class="form">
                                <form class="cmxform form-horizontal style-form" id="signupForm" method="POST" action="/getEqData">

                                    <div class="form-group">
                                        <label for="name" class="control-label col-lg-2">Name</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" name="name" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ventor" class="control-label col-lg-2">Ventor</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" name="ventor" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="model" class="control-label col-lg-2">Model</label>

                                        <div class="col-lg-10">
                                            <input class=" form-control" name="model" type="text" required/>
                                        </div>


                                    </div>

                                    <div class="form-group">
                                        <label for="location" class="control-label col-lg-2">Location</label>

                                        <div class="col-lg-10">
                                            <input class=" form-control" name="location" type="text" required/>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label for="brandname" class="control-label col-lg-2">Brand Name</label>

                                        <div class="col-lg-10">
                                            <input class=" form-control" name="brandname" type="text" required/>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Serial Number</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" name="serial" type="string" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Warranty Period</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" name="warrantyperiod" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="operationDate" class="control-label col-lg-2">Operation Date</label>
                                        <div class="col-lg-3">
                                            <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="01-01-2014" class="input-append date dpYears">
                                                <input type="text" readonly="" id="operationDate" name="operationDate" size="16" class="form-control" required>
                                                <span class="input-group-btn add-on">
                            <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                                            </div>
                                            <span class="help-block">Select date</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplyDate" class="control-label col-lg-2">Supply Date</label>
                                        <div class="col-lg-3">
                                            <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="01-01-2014" class="input-append date dpYears">
                                                <input type="text" readonly="" id="supplyDate" name="supplyDate" size="16" class="form-control" required>
                                                <span class="input-group-btn add-on">
                            <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                                            </div>
                                            <span class="help-block">Select date</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="department" class="control-label col-lg-2">Department's Name</label>
                                        <div class="col-lg-10">
                                            <select class="form-control" id="department" name="department" required>
                                                <option value="OR">OR</option>
                                                <option value="CCU">CCU</option>
                                                <option value="OutPatient">Out Patient</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-theme" href="/showEqform" type="submit">Add</button>
                                            <a class="btn btn-theme04" type="button" href="/showEqform">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /form-panel -->
                    </div>
                    <!-- /col-lg-12 -->
                </div>
                <!-- /row -->
            </section>
            <!-- /wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->

    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="lib/form-validation-script.js"></script>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>
    <!--script for this page-->
    <script src="lib/form-validation-script.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="lib/bootstrap-daterangepicker/date.js"></script>
    <script src="lib/advanced-form-components.js"></script>

</body>

</html>