<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Management System</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/icons/medical.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="images/icons/medical.png" />
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img style="width: 180px;height: 80px;" src="images/logo.png" alt="alternative"></a>

    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Pre-Installation Reports</h1>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><a href="management_system.html">Management
                            System</a><i class="fa fa-angle-double-right"></i><span>Pre-Installation Reports</span>
                        <!-- end of breadcrumbs -->
                    </div>
                    <!-- end of col -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of ex-basic-1 -->
        <!-- end of breadcrumbs -->




        <div id="preinstall">
            <div class="container">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Equipment's Name
                        </div>
                        <div class="cell">
                            Deparment's Name
                        </div>
                        <div class="cell ">
                            The Person Who Filled The Form
                        </div>
                        <div class="cell ">
                            Date
                        </div>
                        <div class="cell ">
                            View Report
                        </div>
                    </div>

                    <div class="row notheader">
                        <div class="cell">
                            MRI
                        </div>
                        <div class="cell">
                            Radiology
                        </div>
                        <div class="cell">
                            Alaa Gamal
                        </div>
                        <div class="cell ">
                            20/4/2020
                        </div>
                        <div class="cell    ">
                            <a class="popup-with-move-anim" href="#details-lightbox-1">View</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of container -->
        </div>

        <!-- Details Lightboxes -->
        <!-- Details Lightbox 1 -->
        <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
            <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form">
                        <span class="contact100-form-title">
                        Pre-Installation Report
                    </span>


                        <div class="wrap-input100 bg1 rs1-wrap-input100">
                            <span class="label-input100 pr-3">Hospital's Name* :</span>
                            <span>Hospital</span>
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input100">
                            <span class="label-input100 pr-3">Equipment's Name* :</span>
                            <span>Equipment</span>
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input100">
                            <span class="label-input100 pr-3">Department's Name* :</span>
                            <span>Department</span>
                        </div>

                        <div class="wrap-input100 bg1 rs2-wrap-input100">
                            <span class="label-input100 pr-3">Floor* :</span>
                            <span>Floor</span>
                        </div>
                        <div class="wrap-input100 bg1 rs2-wrap-input100">
                            <span class="label-input100 pr-3">Room* :</span>
                            <span>Room</span>
                        </div>
                        <div class="table">

                            <div class="row header">
                                <div class="cell">
                                    Task Description
                                </div>
                                <div class="cell">
                                    Check
                                </div>
                                <div class="cell pl-5">
                                    Responsibility of (Name)
                                </div>
                                <div class="cell pl-5">
                                    Comments
                                </div>
                            </div>

                            <div class="row notheader">
                                <div class="cell">
                                    Pre-Installation Form Copied
                                </div>
                                <div class="cell">
                                    <span>True</span>
                                </div>
                                <div class="cell">
                                    <span>Name</span>
                                </div>
                                <div class="cell pl-3">
                                    <span>comment</span>
                                </div>
                            </div>

                            <div class="row notheader">
                                <div class="cell">
                                    Required Tools Available
                                </div>
                                <div class="cell">
                                    <span>True</span>
                                </div>
                                <div class="cell">
                                    <span>Name</span>
                                </div>
                                <div class="cell pl-3">
                                    <span>comment</span>
                                </div>
                            </div>
                            <div class="row notheader">
                                <div class="cell">
                                    Required Supplies Available
                                </div>
                                <div class="cell">
                                    <span>True</span>
                                </div>
                                <div class="cell">
                                    <span>Name</span>
                                </div>
                                <div class="cell pl-3">
                                    <span>comment</span>
                                </div>
                            </div>

                            <div class="row notheader">
                                <div class="cell">
                                    Site Can Be Locked After Hours
                                </div>
                                <div class="cell">
                                    <span>True</span>
                                </div>
                                <div class="cell">
                                    <span>Name</span>
                                </div>
                                <div class="cell pl-3">
                                    <span>comment</span>
                                </div>
                            </div>

                            <div class="row notheader">
                                <div class="cell">
                                    Lock Keys Assigned To Personnel
                                </div>
                                <div class="cell">
                                    <span>True</span>
                                </div>
                                <div class="cell">
                                    <span>Name</span>
                                </div>
                                <div class="cell pl-3">
                                    <span>comment</span>
                                </div>
                            </div>
                            <div class="wrap-input100 bg1 mt-3">
                                <span class="label-input100 pr-3">Date:</span>
                                <span>20/4/2020</span>
                            </div>
                            <div class="wrap-input100 bg1 ">
                                <span class="label-input100 pr-3">Name* :</span>
                                <span>Alaa Gamal</span>
                            </div>

                    </form>

                    </div>

                    <button class="contact100-form-btn1" style="background-color:red!important;">
                        <span>
                            Delete
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>

                </div>
            </div>
            <!-- end of lightbox-basic -->
            <!-- end of details lightbox 1 -->


            <!-- Scripts -->
            <script src="js/jquery.min.js"></script>
            <!-- jQuery for Bootstrap's JavaScript plugins -->
            <script src="js/popper.min.js"></script>
            <!-- Popper tooltip library for Bootstrap -->
            <script src="js/bootstrap.min.js"></script>
            <!-- Bootstrap framework -->
            <script src="js/swiper.min.js"></script>
            <!-- Swiper for image and text sliders -->
            <script src="js/jquery.magnific-popup.js"></script>
            <!-- Magnific Popup for lightboxes -->
            <script src="js/jquery.easing.min.js"></script>
            <!-- jQuery Easing for smooth scrolling between anchors -->
            <script src="js/validator.min.js"></script>
            <!-- Validator.js - Bootstrap plugin that validates forms -->
            <script src="js/scripts.js"></script>
            <!-- Custom scripts -->
            <!--===============================================================================================-->
            <script src="vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
</body>

</html>