.table {
    width: 100%;
    display: table;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
    }
}

.table .row {
    display: table-row;
    background: #D1CFD0;
}

.centerRow th {
    text-align: center;
}

.table .row.head {
    color: #ffffff;
    background: #2F323A;
}

@media screen and (max-width: 768px) {
    .table .row {
        display: block;
    }
    .table .row.head {
        padding: 0;
        height: 0px;
    }
    .table .row.head .cell {
        display: none;
    }
    .table .row .cell:before {
        font-family: Poppins-Bold;
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;
        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}

.cell {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.table .row .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
    border-bottom: 1px solid #f2f2f2;
}

.table .row.head .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table .row .cell:nth-child(1) {
    width: 350px;
    padding-left: 40px;
}

.table .row .cell:nth-child(2) {
    width: 300px;
}

.table .row .cell:nth-child(3) {
    width: 300px;
}

.table {
    text-align: center;
}

.cell {
    padding-top: 5px;
    padding-bottom: 5px;
}

#preinstall .table .row .cell:nth-child(1) {
    width: 350px;
    padding-left: 40px;
}

#preinstall .table .row .cell:nth-child(2) {
    width: 50px;
}

#preinstall .table .row .cell:nth-child(3) {
    width: 300px;
}

#preinstall .table .row .cell:nth-child(4) {
    width: 300px;
}

.table,
.table .row {
    width: 100% !important;
}

.table .nothead:hover {
    background-color: #ececff;
    color: #333333;
    cursor: pointer;
}

@media (max-width: 768px) {
    .table .row {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }
    .table .row .cell {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .table .row .cell:nth-child(1) {
        padding-left: 30px;
    }
    .table .row .cell {
        font-family: Poppins-Regular;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }
    .table,
    .table .row,
    .cell {
        width: 100% !important;
    }
}