<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Management System</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/icons/medical.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="images/icons/medical.png" />
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img style="width: 180px;height: 80px;" src="images/logo.png" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll mr-3" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll mr-3" href="#staff">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll mr-3" href="#reports">Reports</a>
                </li>

            </ul>

        </div>
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="ex-header pb-5 mb-5>
        <div class=" container pb-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <h1>Management System</h1>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Management
                            System</span>
                    </div>
                    <!-- end of breadcrumbs -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    <div id="staff" class="slider-1 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Staff</h2>

                    <!-- Image Slider -->
                    <div class="slider-container mt-4">
                        <div class="swiper-container image-slider swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1794px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-1.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-2.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="5" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-3.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-1.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-2.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-3.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-1.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-2.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="5" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-3.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-1.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-2.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 179.333px; margin-right: 20px;">
                                    <div class="team-member">
                                        <div class="image-wrapper">
                                            <img class="img-fluid" style="border-radius:50%;" src="images/testimonial-3.svg" alt="alternative">
                                        </div>
                                        <!-- end of image wrapper -->
                                        <p class="p-large"><strong>Name</strong></p>
                                        <p class="job-title">Position</p>
                                        <p class="job-title mb-2">aaa@abc.xx</p>
                                        <button class="contact100-form-btn m-auto mt-2" style="width:50%!important;height:80%!important;background-color:red!important;">
                                                <span>
                                                    Delete
                                                </span>
                                            </button>

                                    </div>
                                </div>

                            </div>
                            <!-- end of swiper-wrapper -->
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <!-- end of swiper container -->
                    </div>
                    <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
            <div class="row pt-5 m-auto pb-5 mb-5" style="width: 50%;">
                <div class="col-md-12 pb-5">
                    <div class="register">
                        <h3 class="contact100-form-btn m-auto mt-2" style="cursor: pointer;">Register A New Staff Member
                        </h3>
                        <div class="form-container p-5" style="background-color:#F7FCFD;border-radius: 3%;display: none">
                            <form id="requestForm" data-toggle="validator" data-focus="false" novalidate="true">
                                <div class="form-group">
                                    <input type="text" class="form-control-input" id="rname" name="rname" required>
                                    <label class="label-control" for="rname">Full name</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control-input" id="job" name="job" required>
                                    <label class="label-control" for="job">Job</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                    <input type="email" class="form-control-input" id="remail" name="remail" required>
                                    <label class="label-control" for="remail">Email</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group validate-input" data-validate="Password is required">
                                    <input type="password" class="form-control-input" id="pass" name="pass" required>
                                    <label class="label-control" for="pass">Password</label>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="form-control-submit-button disabled">REGISTER</button>
                                </div>
                                <div class="form-message">
                                    <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <!-- end of container -->
    </div>

    <!-- Reports -->
    <div id="reports" class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/a.png" alt="alternative">
                    </div>
                    <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6">
                    <h2>Reports</h2>

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="text-container p-5">
                                            <h2>Pre-Installation Checklist</h2>
                                            <div class="card-body">
                                                <ul class="list-unstyled li-space-lg mt-3">
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Pre-procurement needs assessment, engineer review, and committee approval
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Procurement - equipment selection and validation
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Receipt of Equipment - setup, training, and testing
                                                        </div>
                                                    </li>
                                                </ul>
                                                <a class="btn-solid-reg popup-with-move-anim mt-5 mr-2" href="#details-lightbox-1">FORM</a>
                                                <a class="btn-solid-reg mt-5" href="preinstallation_data.html">VIEW DATA</a>
                                            </div>
                                        </div>
                                        <!-- end of text-container -->

                                    </div>
                                </div>
                                <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="text-container p-5">
                                            <h2>Report Two</h2>
                                            <div class="card-body">
                                                <ul class="list-unstyled li-space-lg mt-3">
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Pre-procurement needs assessment, engineer review, and committee approval
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Procurement - equipment selection and validation
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Receipt of Equipment - setup, training, and testing
                                                        </div>
                                                    </li>
                                                </ul>
                                                <a class="btn-solid-reg popup-with-move-anim mt-5 mr-2" href="#details-lightbox-2">FORM</a>
                                                <a class="btn-solid-reg popup-with-move-anim mt-5" href="">VIEW DATA</a>
                                            </div>
                                        </div>
                                        <!-- end of text-container -->

                                    </div>
                                </div>
                                <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="text-container p-5">
                                            <h2>Report Three</h2>
                                            <div class="card-body">
                                                <ul class="list-unstyled li-space-lg mt-3">
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Pre-procurement needs assessment, engineer review, and committee approval
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Procurement - equipment selection and validation
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <i class="fas fa-check"></i>
                                                        <div class="media-body">Receipt of Equipment - setup, training, and testing
                                                        </div>
                                                    </li>
                                                </ul>
                                                <a class="btn-solid-reg popup-with-move-anim mt-5 mr-2" href="#details-lightbox-3">FORM</a>
                                                <a class="btn-solid-reg mt-5" href="">VIEW DATA</a>
                                            </div>
                                        </div>
                                        <!-- end of text-container -->

                                    </div>
                                </div>
                                <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div>
                            <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div>
                        <!-- end of swiper-container -->
                    </div>
                    <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of slider-2 -->
    <!-- end of reports -->



    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
    <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container-contact100">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Pre-Installation Form
                    </span>


                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100 pr-3">Hospital's Name* :</span>
                        <input class="input100" type="text" name="hospital" placeholder="Enter The Hospital 's Name" required="">
                    </div>

                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100 pr-3">Equipment's Name* :</span>
        <input class="input100" type="text" name="equipment" placeholder="Enter The Equipment's Name" required="">
        </div>

        <div class="wrap-input100 bg1 rs1-wrap-input100">
            <span class="label-input100 pr-3">Department's Name* :</span>
            <input class="input100" type="text" name="department" placeholder="Enter The Department's Name" required="">
        </div>

        <div class="wrap-input100 bg1 rs2-wrap-input100">
            <span class="label-input100 pr-3">Floor* :</span>
            <input class="input100" type="text" name="floor" placeholder="Enter The Floor" required="">
        </div>
        <div class="wrap-input100 bg1 rs2-wrap-input100">
            <span class="label-input100 pr-3">Room* :</span>
            <input class="input100" type="text" name="room" placeholder="Enter The Room" required="">
        </div>
        <div class="table">

            <div class="row header">
                <div class="cell">
                    Task Description
                </div>
                <div class="cell">
                    Check
                </div>
                <div class="cell pl-5">
                    Responsibility of (Name)
                </div>
                <div class="cell pl-5">
                    Comments
                </div>
            </div>

            <div class="row notheader">
                <div class="cell">
                    Pre-Installation Form Copied
                </div>
                <div class="cell">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="preinstallCheck">
                    </div>
                </div>
                <div class="cell">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="preinstallRON" placeholder="Enter The Name">
                    </div>
                </div>
                <div class="cell pl-3">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="preinstallComment" placeholder="Enter Any Comments">
                    </div>
                </div>
            </div>

            <div class="row notheader">
                <div class="cell">
                    Required Tools Available
                </div>
                <div class="cell">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="requiredtoolCheck">
                    </div>
                </div>
                <div class="cell">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="requiredtoolRON" placeholder="Enter The Name">
                    </div>
                </div>
                <div class="cell pl-3">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="requiredtoolComment" placeholder="Enter Any Comments">
                    </div>
                </div>
            </div>
            <div class="row notheader">
                <div class="cell">
                    Required Supplies Available
                </div>
                <div class="cell">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="requiredsupllyCheck">
                    </div>
                </div>
                <div class="cell">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="requiredsupplyRON" placeholder="Enter The Name">
                    </div>
                </div>
                <div class="cell pl-3">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="requiredsupplyComment" placeholder="Enter Any Comments">
                    </div>
                </div>
            </div>

            <div class="row notheader">
                <div class="cell">
                    Site Can Be Locked After Hours
                </div>
                <div class="cell">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="sitelockCheck">
                    </div>
                </div>
                <div class="cell">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="sitelockRON" placeholder="Enter The Name">
                    </div>
                </div>
                <div class="cell pl-3">
                    <div class="wrap-input100 bg1 wrap-input100 mt-3">
                        <input class="input100" type="text" name="sitelockComment" placeholder="Enter Any Comments">
                    </div>
                </div>
            </div>

            <div class="row notheader">
                <div class="cell">
                    Lock Keys Assigned To Personnel
                </div>
                <div class="cell">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="lockkeyCheck">
                    </div>
                </div>
                <div class="cell">
                    <div class="wrap-input100 bg1 mt-3">
                        <input class="input100" type="text" name="lockkeyRON" placeholder="Enter The Name">
                    </div>
                </div>
                <div class="cell pl-3">
                    <div class="wrap-input100 bg1 mt-3">
                        <input class="input100" type="text" name="lockkeyComment" placeholder="Enter Any Comments">
                    </div>
                </div>
            </div>

        </div>
        <div class="wrap-input100 bg1">
            <span class="label-input100 pr-3">Date:</span>
            <input class="input100" type="date" name="equipment" placeholder="Enter The Date" required="">
            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
        </div>
        <div class="wrap-input100 bg1">
            <span class="label-input100 pr-3">Name* :</span>
            <input class="input100" type="text" name="name" placeholder="Enter Your Name" required="">
        </div>



        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
                            <span>
                                Submit
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
        </div>
        </form>
        </div>
        </div>
        </div>
        <!-- end of lightbox-basic -->
        <!-- end of details lightbox 1 -->

        <!-- Details Lightbox 2 -->
        <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
            <div class="container">
                <h3>WAIT FOR IT</h3>
            </div>
            <!-- end of container -->
        </div>
        <!-- end of lightbox-basic -->
        <!-- end of details lightbox 2 -->

        <!-- Details Lightbox 3 -->
        <div id="details-lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
            <div class="container">
                <h3>WAIT FOR IT</h3>

            </div>
            <!-- end of container -->
        </div>
        <!-- end of lightbox-basic -->
        <!-- end of details lightbox 3 -->



        <!-- end of details lightboxes -->


        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="js/popper.min.js"></script>
        <!-- Popper tooltip library for Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Bootstrap framework -->
        <script src="js/swiper.min.js"></script>
        <!-- Swiper for image and text sliders -->
        <script src="js/jquery.magnific-popup.js"></script>
        <!-- Magnific Popup for lightboxes -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="js/validator.min.js"></script>
        <!-- Validator.js - Bootstrap plugin that validates forms -->
        <script src="js/scripts.js"></script>
        <!-- Custom scripts -->
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <!--===============================================================================================-->
</body>

</html>
